@font-face {
	font-family: Circular;
	src: url("font/CircularBold.otf");
}

* {
	margin: 0;
	font-family: Circular;
}

header {
	background-color: #fb8500;
	color: white;
}

header h1 {
	padding: 20px 0 20px 1cm;
}

nav ul {
	background-color: #ffa947;
	list-style-type: none;
	display: flex;
	height: 30px;
	padding-top: 10px;
}

header nav ul li {
	margin-right: 15px;
}

a, button {
	cursor: pointer;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

p, button, label {
	line-height: 1.6;
}

button {
	border: 0;
	border-radius: 10px;
	color: #fff;
	background-color: #fb8500;
}

input {
	background-color: rgb(237, 237, 237);
	border: 0;
	border-radius: 10px;
	height: 30px;
}

input:focus {
	outline: none;
}

.block-content button {
	width: 260px;
	height: 30px;
}

nav ul li a {
	color: #fff;
}

a:hover {
	color: #00f;
}

footer {
	background-color: rgb(237, 237, 237);
	padding: 20px;
}

main img {
	margin-right: 150px;
}

img {
	border-radius: 50%;
}

form label {
	margin-right: 5vh;
}

form input {
	width: 40%
}

.center h2 {
	color: #000;
}

#whats-form {
	margin: 10vh auto 20% auto;
	width: 90%;
}

.back-image {
	background-image: url("../img/intro.webp");
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.block-content {
	display: block;
}

.block-content h2, .block-content p {
	margin-bottom: 15px;
}

.center {
	margin: auto;
	padding: 40vh;
	text-align: center;
}

.center button {
	width: 100%;
	height: 50px;
}

@media only screen and (max-width: 836px) {
	.center {
		padding: 15vh 3vh 0 3vh;
	}
	.back-image {
		height: 50vh;
	}
}